@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pathway+Extreme:wght@300&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: 'Pathway Extreme', sans-serif;
  }
  
button {
  font-family: 'Pathway Extreme', sans-serif;
}
  #pages-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
  }
  
  .page {
    width: calc(20% - 25px); /* 20% of the width of the container minus 20px */
    margin: 10px;
    padding: 15px;
    border: 1px solid #000;
    cursor: pointer;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modal {
    padding: 20px;
    border-radius: 5px;
    max-width: 80%;
    max-height: 80%;
    overflow-y: auto;
    background-color: #fff;
  }
  
  .modal-content {
    margin-bottom: 20px;
  }
  
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
  }
  
  #notes-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: -250px; /* Initially hidden */
    width: 250px;
    background-color: #fff;
    transition: left 0.3s;
  }
  
  #notes-container.visible {
    left: 0; /* Visible position */
  }
  
  #notes-header {
    height: 30px;
    background-color: rgba(0, 0, 0, 0.2);
  }
  
  #notes-header:hover {
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  
  #notes {
    width: 100%;
    height: calc(100% - 30px);
    padding: 5px;
    resize: none;
  }
  
  .hidden {
    display: none;
  }
  
  #sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    right: -250px; /* Initially hidden */
    width: 250px;
    background-color: #fff;
    transition: right 0.3s;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  }
  
  #sidebar.open {
    right: 0; /* Visible position */
  }
  
  #notes-header {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 10px;
    cursor: pointer;
  }
  
  #notes-header h2 {
    margin: 0;
    color: #fff;
  }
  
  #notes {
    width: 100%;
    height: calc(100% - 40px);
    padding: 10px;
    resize: none;
  }
  
  #save-btn {
    position: sticky;
    font-size: 200%;
    bottom:10%;
    left: 95%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
  }

  #notes-btn {
    position: sticky;
    font-size: 200%;
    bottom: 18%;
    left: 95%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
  }

  #help-btn {
    position: sticky;
    font-size: 200%;
    bottom: 26%;
    left: 95%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
  }